
<div id="airport_details">
    <h3>Airport Request</h3>

    <table border="0" cellspacing="0" cellpadding="8" width="100%">

        <tr>
            <td>
                Payment
            </td>
            <td>
                <input type="text"  name="data[GroundRequestScheduleService][payment_type]" />
            </td>
        </tr>

        <tr>
            <td>
                Remarks
            </td>
            <td>
                <input type="text" size="40" name="data[GroundRequestScheduleService][remarks]" />
            </td>
        </tr>
    </table>
</div>