
<div id="hotel_details">
    <h3>Fuelling</h3>

    <table border="0" cellspacing="0" cellpadding="8" width="100%">
        <tr>
            <td width="200">INTO - PLANE</td>
            <td>
                <input type="text" value="" size="40" name="data[GroundRequestScheduleService][into_plane]" />
            </td>
        </tr>
        <tr>
            <td>
                TELEPHONE/FAX/EMAIL
            </td>
            <td>
                <input type="text" value="" name="data[GroundRequestScheduleService][contact_number]" />
            </td>
        </tr>

        <tr>
            <td>
                Payment
            </td>
            <td>
                <input type="text"  name="data[GroundRequestScheduleService][payment_type]" />
            </td>
        </tr>

        <tr>
            <td>
                Remarks
            </td>
            <td>
                <input type="text" size="40" name="data[GroundRequestScheduleService][remarks]" />
            </td>
        </tr>
    </table>
</div>