<form>
    <table>
        <tr>
            <td>Vendor Invoice Number</td>
            <td><input type="text" /></td>
        </tr>

        <tr>
            <td>Invoice Number</td>
            <td><input type="text" /></td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="button" class="button" value="Bill" />
                <input type="button" class="button" value="Cancel" id="cancel-form" />
            </td>
        </tr>
    </table>
</form>