<?php echo $html->css('app/columns.css'); ?>
<?php echo $html->css('app/roles.css'); ?>
<?php echo $html->css('app/jobsheet.css');
echo $html->script('app/ground.js');

?>


<h1><?php __('Aiport Details Request'); ?></h1>


<div class="navbar">
    <ul>
        <li><a href="<?php echo $html->url( array('controller' => 'Ground', 'action' => 'admin_addairport')); ?>">New Airport</a></li>
    </ul>
</div>