<div class="footer" style="padding: 10px 0px; margin-top: 50px;">
    S.B. MAN & CO LTD. P. O. Box OS 1734, Osu - Accra, Ghana. <br />
    Tel: +233-24-432-1771, +233-20-629-8260, eFax: +44 207 900 1828. SITA: ACCSM7X <br />
    AFTN: KACCGCKX. Email: sbman.fuel@sbmangh.com  &nbsp; &nbsp; www.sbmangh.com
</div>