<?php
echo $html->css('app/columns.css');
echo $html->css('app/jobsheet.css');
echo $html->script('app/reports.js');

?>






 <style>
    .pane-footer {
        font-size: 11px;
        background-color: #f1f1f1;
        padding: 5px;
        border-top: solid #bbb 1px;
    }
    
    .pane-footer ul {
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
    }
    
    .pane-footer li {
        display: inline-block;
        padding: 3px 6px;
        background-color: #ccc;
        margin-right: 2px;
    }
    
    .pane-footer li:hover {
        background-color: #999;
        color: #fff;
        cursor: pointer;
    }
        #rp_table{
       width: 50% !important;
       
        
    }
   #rp_table thead tr{
        
   
         color: white !important;
         background-image: -o-linear-gradient(top, #606C88 0px, #3F4C6B 100%) !important;
         
    }
    #rp_table th,   #rp_table tbody tr {
      text-align: left;
    }
  
      .header{
      text-align: left;
      font-weight: bolder;
      font-size: 13px !important;
      background-color: white !important;
     
    
    }
    .report_options{
   text-align: left;
    }
    .norec{
     text-align: center;
     font-weight: bold;
     font-size: 10px;
     width: 100%;
     margin: 20px;
    }
</style>

    <div id="report_list">
        
    </div>
<input type="hidden" name="report_url" id="report_url" value="<?php echo $html->url(array("controller"=>"reports","action"=>"admin_report",$report_id));?>" />
 
    
