
 <style>
    .pane-footer {
        font-size: 11px;
        background-color: #f1f1f1;
        padding: 5px;
        border-top: solid #bbb 1px;
    }
    
    .pane-footer ul {
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
    }
    
    .pane-footer li {
        display: inline-block;
        padding: 3px 6px;
        background-color: #ccc;
        margin-right: 2px;
    }
    
    .pane-footer li:hover {
        background-color: #999;
        color: #fff;
        cursor: pointer;
    }
        #rp_table{
       width: 50% !important;
        
    }
   #rp_table thead th{
        
         background-color:rgba(150, 67, 42, 0.898438);
         color: white !important;
    }
</style>

<table border="0" cellpadding="5" cellspacing="0" class="fullwidth" id="rp_table">
    <thead>
    <tr>
            <th colspan="2" style="padding-left: 2px;">
             
              TITLE
            </th>
            <th>OPTIONS</th>
          
        </tr>
    </thead>

    <tbody>
        <?php
        foreach($report_menus as $val ){ ?>
        <tr>
       <td>
        
    
            <?php  echo $val['Report']['title']; ?></td> 
       <td>
           <td nowrap>
                        <a class="edit_link" href="<?php echo $html->url(array("controller"=>"reports","action"=>"admin_add",$val['Report']['id'])); ?>"><?php echo $html->image('pencil.png'); ?></a>
                        <a class="del_link" href="<?php echo $html->url(array("controller"=>"reports","action"=>"admin_del",$val['Report']['id'])); ?>"><?php echo $html->image('cross.png'); ?></a>
           </td>
       </td>
        </tr>
        <?php  } ?>
    </tbody>
</table>

<footer class="pane-footer">
    Page 
    
</footer>


