
.search {
    font-size: 11px;
}

.columns { 
    border-spacing: 4px;
    width: 100%;
    display: table;
}

.columns .column {
    border: solid #ddd 1px;
    position: relative;
}

.columns .column.span1 {
    display: table-cell;
    width: 25%;
}

.columns .column.span2 {
    display: table-cell;
    width: 50%;
}

.columns .column.span3 {
    display: table-cell;
    width: 75%;
}

.columns .column .header {
    background: #faf9f8;
    background: -moz-linear-gradient(top, #faf9f8 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faf9f8), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top, #faf9f8 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top, #faf9f8 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top, #faf9f8 0%,#f2f2f2 100%);
    background: linear-gradient(top, #faf9f8 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f8', endColorstr='#f2f2f2',GradientType=0 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 );
    font-size: 13px;
    font-weight: bold;
    color: #333;
    padding: 5px 10px;
    border-bottom: solid #ccc 1px;
    position: relative;
    overflow: hidden;
}

.columns .column .header .actions {
    float: right;
    margin-right: 5px;
    top: 0px;
}

.columns .column .subheader {
    background-color: #fbfbfb;
    border-bottom: solid #eee 1px;
    font-size: 11px;
    color: #333;
    padding: 7px;
}

.columns .column .subheader input {
    z-index: 100;
}

.columns .column .subheader > ul > li {
    display: inline-block;
    margin-right: 10px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}

.columns .column .subheader > ul > li:hover {
    border: solid #aaa 1px;
}

.columns .column .subheader a {
    color: #222;
    text-decoration: none;
    font-size: 11px;
}

.columns .column .subheader a:hover {
    color: #000;
}

.columns .column .content {
    padding: 10px;
    font-size: 13px;
    overflow: hidden;
    width: 100%;
    display: table;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.columns .column .content .master_block {
    display: table-cell;
    width: 60%;
    vertical-align: top;
}

.columns .column .content .fullwidth td {
    font-size: 11px;
}

table.fullwidth, table.normal {
    border: solid #ccc 1px;
}

table.fullwidth thead, table.normal thead {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

table.fullwidth thead th, table.normal thead th {
    color: #222;
    text-shadow: -1px 0px 1px #fff;
    padding: 5px;
}

table.fullwidth tbody tr.selected td,
table.normal tbody tr.selected td {
    background-color: #e2e2e2;
    color: #000;
    text-shadow: 0px 1px 1px #FFF;
}

table.fullwidth tbody tr:hover,
table.normal tbody tr:hover {
    background-color: #e9e7e5;
}

.ui-tabs-panel {
    padding: 10px 5px !important;
}

.columns .column .content .details_block {
    display: table-cell;
    width: 320px;
    padding: 5px;
    padding-left: 10px;
    border-left: dotted #ddd 1px;
    vertical-align: top;
}

.columns .column .content .details_block .details_options {
    border-bottom: dotted #ccc 1px;
    padding-bottom: 4px;
}

.columns .column .content .details_block .buttons {
    margin: 0px;
    padding: 0px;
}

.columns .column .content .details_block .buttons > li {
    display: inline-block;
    margin-right: 4px;
    padding: 6px 12px;
    border-radius: 3px;
    border: solid #ccc 1px;
    background-color: #f9f9f9;
    font-size: 11px;
    cursor: pointer;
    color: #ccc;
    position: relative;
}

.columns .column .content .details_block .buttons > li.active {
    color: #333;
}

.columns .column .content .details_block .buttons > li:hover {
    background-color: #fcfcfc;
}

input.button, a.button {
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    color: #333 !important;
    border: solid #ccc 1px;
}

input.button:hover, a.button:hover {
    color: #222 !important;
    border: solid #aaa 1px !important;
}

.button, .menu_button {

    display: inline-block;
    margin-right: 4px;
    padding: 6px 12px;
    border-radius: 3px;
    border: solid #ccc 1px;
    background-color: #fbfbfb;
    font-size: 13px;
    cursor: pointer;
    color: #333;
    position: relative;
    text-decoration: none;
}

.menu_button_schedule{
    padding-right: 0px !important;
    padding: 5px  !important;
    background-repeat: no-repeat;
    text-decoration: none;
    z-index: 99;
}

.menu_button {
    padding-right: 20px;
    background-image: url('../core/menu_down.png');
    background-position: 95%;
    background-repeat: no-repeat;
    text-decoration: none;
    z-index: 10;
}

.menu_button .menu {
    position: absolute;
    border: solid #eee 1px;
    top: 27px;
    left: 0px;
    background-color: #f9f9f9;
    display: none;
    box-shadow: 1px 1px 3px #ccc;
}

.menu_button .menu li {
    padding: 5px 10px;
    min-width: 130px;
    max-width: 180px;
    width: auto;
    text-align: left;
    font-size: 11px;
}

.menu_button .menu li:hover {
    background-color: #fcfcfc;
}

.menu_button .menu li:not(:last-child) {
    border-bottom: solid #eee 1px;
}

.columns .column .content .list {
    padding-left: 10px;
    padding-top: 0px;
}

.columns .column .content .list li {
    padding: 5px;
    border-bottom: dotted #eee 1px;
}

.columns .column .content .list li:hover {
    background-color: #444;
}

.columns .column .content .list li a {
    text-decoration: none;
    color: #444;
    display: block;
}

.columns .column .content .list li:hover a {
    color: #fff;
}

.columns .column .content .list li.current a {
    font-weight: bold;
}

.columns .column .footer {
    background-color: #fafafa;
    border-top: solid #ccc 1px;
    font-size: 11px;
    color: #333;
    padding: 7px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    bottom: 0px;
}

.columns .column .top-footer {
    background-color: #fafafa;
    border-bottom: solid #ccc 1px;
    font-size: 11px;
    color: #333;
    padding: 7px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    bottom: 0px;
}

.navbar {
    border: solid #ddd 1px;
    border-radius: 5px;
    background-color: #fcfcfc;
    padding: 8px;
    margin-bottom: 10px;
}

.navbar ul li {
    display: inline-block;
    margin-right: 10px;
}

.navbar ul li a {
    font-size: 12px;
    color: #069;
    text-decoration: none;
}

.navbar ul li.selected {
    background-color: #222;
    color: #fff;
}

.forward_details {
    border: double #ccc 3px;
    padding: 10px 20px;
}

.flyout_content {
    margin-bottom: 10px;
    overflow: hidden;
}

.flyout_content td {
    padding: 5px;
}

.inline-bold {
    display: inline-block;
    font-weight: bold;
    border-bottom: dotted #999 1px;
}

.ordered_list {
    list-style-type: decimal;
    padding-left: 10px;
    margin: 5px;
    margin-left: 20px;
}

.flyout_content section header {
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.flyout_content section header h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

.flyout_content footer {
    text-align: center;
}

.flyout_content .data_row, .flyout_content .data_row td {
    /*padding: 5px;*/
    font-family: tahoma; font-size: 11px; line-height: 20px;
}

.pane-footer {
    font-size: 11px;
    background-color: #f1f1f1;
    padding: 5px;
    border-top: solid #bbb 1px;
}

.pane-footer ul {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.pane-footer li {
    display: inline-block;
    padding: 3px 6px;
    background-color: #ccc;
    margin-right: 2px;
    margin-bottom: 3px;
}

.pane-footer li:hover {
    background-color: #999;
    color: #fff;
    cursor: pointer;
}

.pane-footer li.selected {
    background: #333;
    color: #fff;
}

.dwbutton{
    background-image:url("../core/glyphicons-halflings.png"); 
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 14px;
    vertical-align: text-bottom;
    background-position: -96px -24px;}

.prbutton{
    background-image:url("../core/glyphicons-halflings.png"); 
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 14px;
    vertical-align: text-bottom;
    background-position: -96px -48px;
}

/*********************************
 * JQUERY TIMEPICKER EXTENSION
 ***********************************/
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }