/* 
    Document   : jobsheet.css
    Created on : Jun 29, 2011, 4:11:16 PM
    Author     : nuku
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
label{
    width: 150px !important;

}
input[type="text"]{
   /* margin-right: 50px !important;*/


}
.services_text{
    text-decoration: underline;
}
.small_field{
    width: 10px !important;
}
 .long_label{}