/* 
    Document   : roles
    Created on : Jun 25, 2011, 11:42:18 AM
    Author     : Francis
    Description:
        To style the role menus screen
*/


#menus {
    overflow: auto;
    max-height: 300px;
}

#menus ul {
    padding-left: 15px;
}

#menus ul li {
    padding-top: 5px;
}
